/*
 * HEP REST API
 * The REST API for HEP protocol
 *
 * OpenAPI spec version: v1
 * Contact: xiawu@zeuux.org
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.AuthCacheRequest;
import io.swagger.client.model.AuthCacheResponse;
import io.swagger.client.model.CancelProofRequest;
import io.swagger.client.model.CancelProofResponse;
import io.swagger.client.model.CreateAuthCacheResponse;
import io.swagger.client.model.CreatePayCacheResponse;
import io.swagger.client.model.CreateProofRequest;
import io.swagger.client.model.CreateProofResponse;
import io.swagger.client.model.Dapp;
import io.swagger.client.model.NewidResponse;
import io.swagger.client.model.PayCacheRequest;
import io.swagger.client.model.PayCacheResponse;
import io.swagger.client.model.UpdateProofRequest;
import io.swagger.client.model.UpdateProofResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RestApi {
    private ApiClient apiClient;

    public RestApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RestApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for restDappsRead
     * @param dappId  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call restDappsReadCall(String dappId, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/rest/v{version}/dapps/{dapp_id}/"
            .replaceAll("\\{" + "dapp_id" + "\\}", apiClient.escapeString(dappId.toString()))
            .replaceAll("\\{" + "version" + "\\}", apiClient.escapeString(version.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (dappKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dapp_key", dappKey));
        if (protocol != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("protocol", protocol));
        if (version2 != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version2));
        if (ts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ts", ts));
        if (nonce != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nonce", nonce));
        if (os != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("os", os));
        if (language != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("language", language));
        if (md5 != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("md5", md5));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Basic" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call restDappsReadValidateBeforeCall(String dappId, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'dappId' is set
        if (dappId == null) {
            throw new ApiException("Missing the required parameter 'dappId' when calling restDappsRead(Async)");
        }
        // verify the required parameter 'version' is set
        if (version == null) {
            throw new ApiException("Missing the required parameter 'version' when calling restDappsRead(Async)");
        }
        // verify the required parameter 'dappKey' is set
        if (dappKey == null) {
            throw new ApiException("Missing the required parameter 'dappKey' when calling restDappsRead(Async)");
        }
        // verify the required parameter 'protocol' is set
        if (protocol == null) {
            throw new ApiException("Missing the required parameter 'protocol' when calling restDappsRead(Async)");
        }
        // verify the required parameter 'version2' is set
        if (version2 == null) {
            throw new ApiException("Missing the required parameter 'version2' when calling restDappsRead(Async)");
        }
        // verify the required parameter 'ts' is set
        if (ts == null) {
            throw new ApiException("Missing the required parameter 'ts' when calling restDappsRead(Async)");
        }
        // verify the required parameter 'nonce' is set
        if (nonce == null) {
            throw new ApiException("Missing the required parameter 'nonce' when calling restDappsRead(Async)");
        }
        // verify the required parameter 'os' is set
        if (os == null) {
            throw new ApiException("Missing the required parameter 'os' when calling restDappsRead(Async)");
        }
        // verify the required parameter 'language' is set
        if (language == null) {
            throw new ApiException("Missing the required parameter 'language' when calling restDappsRead(Async)");
        }
        // verify the required parameter 'md5' is set
        if (md5 == null) {
            throw new ApiException("Missing the required parameter 'md5' when calling restDappsRead(Async)");
        }
        
        com.squareup.okhttp.Call call = restDappsReadCall(dappId, version, dappKey, protocol, version2, ts, nonce, os, language, md5, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * 
     * @param dappId  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @return Dapp
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Dapp restDappsRead(String dappId, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5) throws ApiException {
        ApiResponse<Dapp> resp = restDappsReadWithHttpInfo(dappId, version, dappKey, protocol, version2, ts, nonce, os, language, md5);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param dappId  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @return ApiResponse&lt;Dapp&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Dapp> restDappsReadWithHttpInfo(String dappId, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5) throws ApiException {
        com.squareup.okhttp.Call call = restDappsReadValidateBeforeCall(dappId, version, dappKey, protocol, version2, ts, nonce, os, language, md5, null, null);
        Type localVarReturnType = new TypeToken<Dapp>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param dappId  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call restDappsReadAsync(String dappId, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5, final ApiCallback<Dapp> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = restDappsReadValidateBeforeCall(dappId, version, dappKey, protocol, version2, ts, nonce, os, language, md5, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Dapp>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for restNewidsRead
     * @param newid  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call restNewidsReadCall(String newid, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/rest/v{version}/newids/{newid}/"
            .replaceAll("\\{" + "newid" + "\\}", apiClient.escapeString(newid.toString()))
            .replaceAll("\\{" + "version" + "\\}", apiClient.escapeString(version.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (dappKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dapp_key", dappKey));
        if (protocol != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("protocol", protocol));
        if (version2 != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version2));
        if (ts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ts", ts));
        if (nonce != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nonce", nonce));
        if (os != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("os", os));
        if (language != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("language", language));
        if (md5 != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("md5", md5));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Basic" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call restNewidsReadValidateBeforeCall(String newid, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'newid' is set
        if (newid == null) {
            throw new ApiException("Missing the required parameter 'newid' when calling restNewidsRead(Async)");
        }
        // verify the required parameter 'version' is set
        if (version == null) {
            throw new ApiException("Missing the required parameter 'version' when calling restNewidsRead(Async)");
        }
        // verify the required parameter 'dappKey' is set
        if (dappKey == null) {
            throw new ApiException("Missing the required parameter 'dappKey' when calling restNewidsRead(Async)");
        }
        // verify the required parameter 'protocol' is set
        if (protocol == null) {
            throw new ApiException("Missing the required parameter 'protocol' when calling restNewidsRead(Async)");
        }
        // verify the required parameter 'version2' is set
        if (version2 == null) {
            throw new ApiException("Missing the required parameter 'version2' when calling restNewidsRead(Async)");
        }
        // verify the required parameter 'ts' is set
        if (ts == null) {
            throw new ApiException("Missing the required parameter 'ts' when calling restNewidsRead(Async)");
        }
        // verify the required parameter 'nonce' is set
        if (nonce == null) {
            throw new ApiException("Missing the required parameter 'nonce' when calling restNewidsRead(Async)");
        }
        // verify the required parameter 'os' is set
        if (os == null) {
            throw new ApiException("Missing the required parameter 'os' when calling restNewidsRead(Async)");
        }
        // verify the required parameter 'language' is set
        if (language == null) {
            throw new ApiException("Missing the required parameter 'language' when calling restNewidsRead(Async)");
        }
        // verify the required parameter 'md5' is set
        if (md5 == null) {
            throw new ApiException("Missing the required parameter 'md5' when calling restNewidsRead(Async)");
        }
        
        com.squareup.okhttp.Call call = restNewidsReadCall(newid, version, dappKey, protocol, version2, ts, nonce, os, language, md5, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Retrieve the information by given NewID
     * @param newid  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @return NewidResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NewidResponse restNewidsRead(String newid, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5) throws ApiException {
        ApiResponse<NewidResponse> resp = restNewidsReadWithHttpInfo(newid, version, dappKey, protocol, version2, ts, nonce, os, language, md5);
        return resp.getData();
    }

    /**
     * 
     * Retrieve the information by given NewID
     * @param newid  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @return ApiResponse&lt;NewidResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NewidResponse> restNewidsReadWithHttpInfo(String newid, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5) throws ApiException {
        com.squareup.okhttp.Call call = restNewidsReadValidateBeforeCall(newid, version, dappKey, protocol, version2, ts, nonce, os, language, md5, null, null);
        Type localVarReturnType = new TypeToken<NewidResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Retrieve the information by given NewID
     * @param newid  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call restNewidsReadAsync(String newid, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5, final ApiCallback<NewidResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = restNewidsReadValidateBeforeCall(newid, version, dappKey, protocol, version2, ts, nonce, os, language, md5, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NewidResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for restNewnetCachesAuthCreate
     * @param body  (required)
     * @param version  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call restNewnetCachesAuthCreateCall(AuthCacheRequest body, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/rest/v{version}/newnet/caches/auth/"
            .replaceAll("\\{" + "version" + "\\}", apiClient.escapeString(version.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Basic" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call restNewnetCachesAuthCreateValidateBeforeCall(AuthCacheRequest body, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling restNewnetCachesAuthCreate(Async)");
        }
        // verify the required parameter 'version' is set
        if (version == null) {
            throw new ApiException("Missing the required parameter 'version' when calling restNewnetCachesAuthCreate(Async)");
        }
        
        com.squareup.okhttp.Call call = restNewnetCachesAuthCreateCall(body, version, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Caches the authentication request
     * @param body  (required)
     * @param version  (required)
     * @return CreateAuthCacheResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateAuthCacheResponse restNewnetCachesAuthCreate(AuthCacheRequest body, String version) throws ApiException {
        ApiResponse<CreateAuthCacheResponse> resp = restNewnetCachesAuthCreateWithHttpInfo(body, version);
        return resp.getData();
    }

    /**
     * 
     * Caches the authentication request
     * @param body  (required)
     * @param version  (required)
     * @return ApiResponse&lt;CreateAuthCacheResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateAuthCacheResponse> restNewnetCachesAuthCreateWithHttpInfo(AuthCacheRequest body, String version) throws ApiException {
        com.squareup.okhttp.Call call = restNewnetCachesAuthCreateValidateBeforeCall(body, version, null, null);
        Type localVarReturnType = new TypeToken<CreateAuthCacheResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Caches the authentication request
     * @param body  (required)
     * @param version  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call restNewnetCachesAuthCreateAsync(AuthCacheRequest body, String version, final ApiCallback<CreateAuthCacheResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = restNewnetCachesAuthCreateValidateBeforeCall(body, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateAuthCacheResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for restNewnetCachesAuthRead
     * @param authHash  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call restNewnetCachesAuthReadCall(String authHash, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/rest/v{version}/newnet/caches/auth/{auth_hash}/"
            .replaceAll("\\{" + "auth_hash" + "\\}", apiClient.escapeString(authHash.toString()))
            .replaceAll("\\{" + "version" + "\\}", apiClient.escapeString(version.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (dappKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dapp_key", dappKey));
        if (protocol != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("protocol", protocol));
        if (version2 != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version2));
        if (ts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ts", ts));
        if (nonce != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nonce", nonce));
        if (os != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("os", os));
        if (language != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("language", language));
        if (md5 != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("md5", md5));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Basic" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call restNewnetCachesAuthReadValidateBeforeCall(String authHash, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'authHash' is set
        if (authHash == null) {
            throw new ApiException("Missing the required parameter 'authHash' when calling restNewnetCachesAuthRead(Async)");
        }
        // verify the required parameter 'version' is set
        if (version == null) {
            throw new ApiException("Missing the required parameter 'version' when calling restNewnetCachesAuthRead(Async)");
        }
        // verify the required parameter 'dappKey' is set
        if (dappKey == null) {
            throw new ApiException("Missing the required parameter 'dappKey' when calling restNewnetCachesAuthRead(Async)");
        }
        // verify the required parameter 'protocol' is set
        if (protocol == null) {
            throw new ApiException("Missing the required parameter 'protocol' when calling restNewnetCachesAuthRead(Async)");
        }
        // verify the required parameter 'version2' is set
        if (version2 == null) {
            throw new ApiException("Missing the required parameter 'version2' when calling restNewnetCachesAuthRead(Async)");
        }
        // verify the required parameter 'ts' is set
        if (ts == null) {
            throw new ApiException("Missing the required parameter 'ts' when calling restNewnetCachesAuthRead(Async)");
        }
        // verify the required parameter 'nonce' is set
        if (nonce == null) {
            throw new ApiException("Missing the required parameter 'nonce' when calling restNewnetCachesAuthRead(Async)");
        }
        // verify the required parameter 'os' is set
        if (os == null) {
            throw new ApiException("Missing the required parameter 'os' when calling restNewnetCachesAuthRead(Async)");
        }
        // verify the required parameter 'language' is set
        if (language == null) {
            throw new ApiException("Missing the required parameter 'language' when calling restNewnetCachesAuthRead(Async)");
        }
        // verify the required parameter 'md5' is set
        if (md5 == null) {
            throw new ApiException("Missing the required parameter 'md5' when calling restNewnetCachesAuthRead(Async)");
        }
        
        com.squareup.okhttp.Call call = restNewnetCachesAuthReadCall(authHash, version, dappKey, protocol, version2, ts, nonce, os, language, md5, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Get the authentication information by given request hash.
     * @param authHash  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @return AuthCacheResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AuthCacheResponse restNewnetCachesAuthRead(String authHash, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5) throws ApiException {
        ApiResponse<AuthCacheResponse> resp = restNewnetCachesAuthReadWithHttpInfo(authHash, version, dappKey, protocol, version2, ts, nonce, os, language, md5);
        return resp.getData();
    }

    /**
     * 
     * Get the authentication information by given request hash.
     * @param authHash  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @return ApiResponse&lt;AuthCacheResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AuthCacheResponse> restNewnetCachesAuthReadWithHttpInfo(String authHash, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5) throws ApiException {
        com.squareup.okhttp.Call call = restNewnetCachesAuthReadValidateBeforeCall(authHash, version, dappKey, protocol, version2, ts, nonce, os, language, md5, null, null);
        Type localVarReturnType = new TypeToken<AuthCacheResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Get the authentication information by given request hash.
     * @param authHash  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call restNewnetCachesAuthReadAsync(String authHash, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5, final ApiCallback<AuthCacheResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = restNewnetCachesAuthReadValidateBeforeCall(authHash, version, dappKey, protocol, version2, ts, nonce, os, language, md5, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AuthCacheResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for restNewnetCachesPayCreate
     * @param body  (required)
     * @param version  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call restNewnetCachesPayCreateCall(PayCacheRequest body, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/rest/v{version}/newnet/caches/pay/"
            .replaceAll("\\{" + "version" + "\\}", apiClient.escapeString(version.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Basic" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call restNewnetCachesPayCreateValidateBeforeCall(PayCacheRequest body, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling restNewnetCachesPayCreate(Async)");
        }
        // verify the required parameter 'version' is set
        if (version == null) {
            throw new ApiException("Missing the required parameter 'version' when calling restNewnetCachesPayCreate(Async)");
        }
        
        com.squareup.okhttp.Call call = restNewnetCachesPayCreateCall(body, version, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Cache the pay request
     * @param body  (required)
     * @param version  (required)
     * @return CreatePayCacheResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreatePayCacheResponse restNewnetCachesPayCreate(PayCacheRequest body, String version) throws ApiException {
        ApiResponse<CreatePayCacheResponse> resp = restNewnetCachesPayCreateWithHttpInfo(body, version);
        return resp.getData();
    }

    /**
     * 
     * Cache the pay request
     * @param body  (required)
     * @param version  (required)
     * @return ApiResponse&lt;CreatePayCacheResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreatePayCacheResponse> restNewnetCachesPayCreateWithHttpInfo(PayCacheRequest body, String version) throws ApiException {
        com.squareup.okhttp.Call call = restNewnetCachesPayCreateValidateBeforeCall(body, version, null, null);
        Type localVarReturnType = new TypeToken<CreatePayCacheResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Cache the pay request
     * @param body  (required)
     * @param version  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call restNewnetCachesPayCreateAsync(PayCacheRequest body, String version, final ApiCallback<CreatePayCacheResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = restNewnetCachesPayCreateValidateBeforeCall(body, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreatePayCacheResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for restNewnetCachesPayRead
     * @param payHash  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call restNewnetCachesPayReadCall(String payHash, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/rest/v{version}/newnet/caches/pay/{pay_hash}/"
            .replaceAll("\\{" + "pay_hash" + "\\}", apiClient.escapeString(payHash.toString()))
            .replaceAll("\\{" + "version" + "\\}", apiClient.escapeString(version.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (dappKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dapp_key", dappKey));
        if (protocol != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("protocol", protocol));
        if (version2 != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version2));
        if (ts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ts", ts));
        if (nonce != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nonce", nonce));
        if (os != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("os", os));
        if (language != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("language", language));
        if (md5 != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("md5", md5));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Basic" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call restNewnetCachesPayReadValidateBeforeCall(String payHash, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'payHash' is set
        if (payHash == null) {
            throw new ApiException("Missing the required parameter 'payHash' when calling restNewnetCachesPayRead(Async)");
        }
        // verify the required parameter 'version' is set
        if (version == null) {
            throw new ApiException("Missing the required parameter 'version' when calling restNewnetCachesPayRead(Async)");
        }
        // verify the required parameter 'dappKey' is set
        if (dappKey == null) {
            throw new ApiException("Missing the required parameter 'dappKey' when calling restNewnetCachesPayRead(Async)");
        }
        // verify the required parameter 'protocol' is set
        if (protocol == null) {
            throw new ApiException("Missing the required parameter 'protocol' when calling restNewnetCachesPayRead(Async)");
        }
        // verify the required parameter 'version2' is set
        if (version2 == null) {
            throw new ApiException("Missing the required parameter 'version2' when calling restNewnetCachesPayRead(Async)");
        }
        // verify the required parameter 'ts' is set
        if (ts == null) {
            throw new ApiException("Missing the required parameter 'ts' when calling restNewnetCachesPayRead(Async)");
        }
        // verify the required parameter 'nonce' is set
        if (nonce == null) {
            throw new ApiException("Missing the required parameter 'nonce' when calling restNewnetCachesPayRead(Async)");
        }
        // verify the required parameter 'os' is set
        if (os == null) {
            throw new ApiException("Missing the required parameter 'os' when calling restNewnetCachesPayRead(Async)");
        }
        // verify the required parameter 'language' is set
        if (language == null) {
            throw new ApiException("Missing the required parameter 'language' when calling restNewnetCachesPayRead(Async)");
        }
        // verify the required parameter 'md5' is set
        if (md5 == null) {
            throw new ApiException("Missing the required parameter 'md5' when calling restNewnetCachesPayRead(Async)");
        }
        
        com.squareup.okhttp.Call call = restNewnetCachesPayReadCall(payHash, version, dappKey, protocol, version2, ts, nonce, os, language, md5, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Retrieve the pay information by given pay hash.
     * @param payHash  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @return PayCacheResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PayCacheResponse restNewnetCachesPayRead(String payHash, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5) throws ApiException {
        ApiResponse<PayCacheResponse> resp = restNewnetCachesPayReadWithHttpInfo(payHash, version, dappKey, protocol, version2, ts, nonce, os, language, md5);
        return resp.getData();
    }

    /**
     * 
     * Retrieve the pay information by given pay hash.
     * @param payHash  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @return ApiResponse&lt;PayCacheResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PayCacheResponse> restNewnetCachesPayReadWithHttpInfo(String payHash, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5) throws ApiException {
        com.squareup.okhttp.Call call = restNewnetCachesPayReadValidateBeforeCall(payHash, version, dappKey, protocol, version2, ts, nonce, os, language, md5, null, null);
        Type localVarReturnType = new TypeToken<PayCacheResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Retrieve the pay information by given pay hash.
     * @param payHash  (required)
     * @param version  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version2 The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call restNewnetCachesPayReadAsync(String payHash, String version, String dappKey, String protocol, String version2, Integer ts, String nonce, String os, String language, String md5, final ApiCallback<PayCacheResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = restNewnetCachesPayReadValidateBeforeCall(payHash, version, dappKey, protocol, version2, ts, nonce, os, language, md5, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PayCacheResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for restProofsCreate
     * @param body  (required)
     * @param version  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call restProofsCreateCall(CreateProofRequest body, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/rest/v{version}/proofs/"
            .replaceAll("\\{" + "version" + "\\}", apiClient.escapeString(version.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Basic" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call restProofsCreateValidateBeforeCall(CreateProofRequest body, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling restProofsCreate(Async)");
        }
        // verify the required parameter 'version' is set
        if (version == null) {
            throw new ApiException("Missing the required parameter 'version' when calling restProofsCreate(Async)");
        }
        
        com.squareup.okhttp.Call call = restProofsCreateCall(body, version, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * 
     * @param body  (required)
     * @param version  (required)
     * @return CreateProofResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CreateProofResponse restProofsCreate(CreateProofRequest body, String version) throws ApiException {
        ApiResponse<CreateProofResponse> resp = restProofsCreateWithHttpInfo(body, version);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param body  (required)
     * @param version  (required)
     * @return ApiResponse&lt;CreateProofResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CreateProofResponse> restProofsCreateWithHttpInfo(CreateProofRequest body, String version) throws ApiException {
        com.squareup.okhttp.Call call = restProofsCreateValidateBeforeCall(body, version, null, null);
        Type localVarReturnType = new TypeToken<CreateProofResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param body  (required)
     * @param version  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call restProofsCreateAsync(CreateProofRequest body, String version, final ApiCallback<CreateProofResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = restProofsCreateValidateBeforeCall(body, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CreateProofResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for restProofsDelete
     * @param body  (required)
     * @param proofHash  (required)
     * @param version  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call restProofsDeleteCall(CancelProofRequest body, String proofHash, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/rest/v{version}/proofs/{proof_hash}/"
            .replaceAll("\\{" + "proof_hash" + "\\}", apiClient.escapeString(proofHash.toString()))
            .replaceAll("\\{" + "version" + "\\}", apiClient.escapeString(version.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Basic" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call restProofsDeleteValidateBeforeCall(CancelProofRequest body, String proofHash, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling restProofsDelete(Async)");
        }
        // verify the required parameter 'proofHash' is set
        if (proofHash == null) {
            throw new ApiException("Missing the required parameter 'proofHash' when calling restProofsDelete(Async)");
        }
        // verify the required parameter 'version' is set
        if (version == null) {
            throw new ApiException("Missing the required parameter 'version' when calling restProofsDelete(Async)");
        }
        
        com.squareup.okhttp.Call call = restProofsDeleteCall(body, proofHash, version, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * 
     * @param body  (required)
     * @param proofHash  (required)
     * @param version  (required)
     * @return CancelProofResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CancelProofResponse restProofsDelete(CancelProofRequest body, String proofHash, String version) throws ApiException {
        ApiResponse<CancelProofResponse> resp = restProofsDeleteWithHttpInfo(body, proofHash, version);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param body  (required)
     * @param proofHash  (required)
     * @param version  (required)
     * @return ApiResponse&lt;CancelProofResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CancelProofResponse> restProofsDeleteWithHttpInfo(CancelProofRequest body, String proofHash, String version) throws ApiException {
        com.squareup.okhttp.Call call = restProofsDeleteValidateBeforeCall(body, proofHash, version, null, null);
        Type localVarReturnType = new TypeToken<CancelProofResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param body  (required)
     * @param proofHash  (required)
     * @param version  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call restProofsDeleteAsync(CancelProofRequest body, String proofHash, String version, final ApiCallback<CancelProofResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = restProofsDeleteValidateBeforeCall(body, proofHash, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CancelProofResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for restProofsUpdate
     * @param body  (required)
     * @param proofHash  (required)
     * @param version  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call restProofsUpdateCall(UpdateProofRequest body, String proofHash, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/rest/v{version}/proofs/{proof_hash}/"
            .replaceAll("\\{" + "proof_hash" + "\\}", apiClient.escapeString(proofHash.toString()))
            .replaceAll("\\{" + "version" + "\\}", apiClient.escapeString(version.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Basic" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call restProofsUpdateValidateBeforeCall(UpdateProofRequest body, String proofHash, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling restProofsUpdate(Async)");
        }
        // verify the required parameter 'proofHash' is set
        if (proofHash == null) {
            throw new ApiException("Missing the required parameter 'proofHash' when calling restProofsUpdate(Async)");
        }
        // verify the required parameter 'version' is set
        if (version == null) {
            throw new ApiException("Missing the required parameter 'version' when calling restProofsUpdate(Async)");
        }
        
        com.squareup.okhttp.Call call = restProofsUpdateCall(body, proofHash, version, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * 
     * @param body  (required)
     * @param proofHash  (required)
     * @param version  (required)
     * @return UpdateProofResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public UpdateProofResponse restProofsUpdate(UpdateProofRequest body, String proofHash, String version) throws ApiException {
        ApiResponse<UpdateProofResponse> resp = restProofsUpdateWithHttpInfo(body, proofHash, version);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param body  (required)
     * @param proofHash  (required)
     * @param version  (required)
     * @return ApiResponse&lt;UpdateProofResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<UpdateProofResponse> restProofsUpdateWithHttpInfo(UpdateProofRequest body, String proofHash, String version) throws ApiException {
        com.squareup.okhttp.Call call = restProofsUpdateValidateBeforeCall(body, proofHash, version, null, null);
        Type localVarReturnType = new TypeToken<UpdateProofResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param body  (required)
     * @param proofHash  (required)
     * @param version  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call restProofsUpdateAsync(UpdateProofRequest body, String proofHash, String version, final ApiCallback<UpdateProofResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = restProofsUpdateValidateBeforeCall(body, proofHash, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<UpdateProofResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
