/*
 * HEP REST API
 * The REST API for HEP protocol
 *
 * OpenAPI spec version: v1
 * Contact: xiawu@zeuux.org
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.NewidResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class NewidsApi {
    private ApiClient apiClient;

    public NewidsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public NewidsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for newidsRead
     * @param newid  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call newidsReadCall(String newid, String dappKey, String protocol, String version, Integer ts, String nonce, String os, String language, String md5, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/newids/{newid}/"
            .replaceAll("\\{" + "newid" + "\\}", apiClient.escapeString(newid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (dappKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("dapp_key", dappKey));
        if (protocol != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("protocol", protocol));
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));
        if (ts != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("ts", ts));
        if (nonce != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("nonce", nonce));
        if (os != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("os", os));
        if (language != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("language", language));
        if (md5 != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("md5", md5));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Basic" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call newidsReadValidateBeforeCall(String newid, String dappKey, String protocol, String version, Integer ts, String nonce, String os, String language, String md5, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'newid' is set
        if (newid == null) {
            throw new ApiException("Missing the required parameter 'newid' when calling newidsRead(Async)");
        }
        // verify the required parameter 'dappKey' is set
        if (dappKey == null) {
            throw new ApiException("Missing the required parameter 'dappKey' when calling newidsRead(Async)");
        }
        // verify the required parameter 'protocol' is set
        if (protocol == null) {
            throw new ApiException("Missing the required parameter 'protocol' when calling newidsRead(Async)");
        }
        // verify the required parameter 'version' is set
        if (version == null) {
            throw new ApiException("Missing the required parameter 'version' when calling newidsRead(Async)");
        }
        // verify the required parameter 'ts' is set
        if (ts == null) {
            throw new ApiException("Missing the required parameter 'ts' when calling newidsRead(Async)");
        }
        // verify the required parameter 'nonce' is set
        if (nonce == null) {
            throw new ApiException("Missing the required parameter 'nonce' when calling newidsRead(Async)");
        }
        // verify the required parameter 'os' is set
        if (os == null) {
            throw new ApiException("Missing the required parameter 'os' when calling newidsRead(Async)");
        }
        // verify the required parameter 'language' is set
        if (language == null) {
            throw new ApiException("Missing the required parameter 'language' when calling newidsRead(Async)");
        }
        // verify the required parameter 'md5' is set
        if (md5 == null) {
            throw new ApiException("Missing the required parameter 'md5' when calling newidsRead(Async)");
        }
        
        com.squareup.okhttp.Call call = newidsReadCall(newid, dappKey, protocol, version, ts, nonce, os, language, md5, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * 
     * Retrieve the information by given NewID
     * @param newid  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @return NewidResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NewidResponse newidsRead(String newid, String dappKey, String protocol, String version, Integer ts, String nonce, String os, String language, String md5) throws ApiException {
        ApiResponse<NewidResponse> resp = newidsReadWithHttpInfo(newid, dappKey, protocol, version, ts, nonce, os, language, md5);
        return resp.getData();
    }

    /**
     * 
     * Retrieve the information by given NewID
     * @param newid  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @return ApiResponse&lt;NewidResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NewidResponse> newidsReadWithHttpInfo(String newid, String dappKey, String protocol, String version, Integer ts, String nonce, String os, String language, String md5) throws ApiException {
        com.squareup.okhttp.Call call = newidsReadValidateBeforeCall(newid, dappKey, protocol, version, ts, nonce, os, language, md5, null, null);
        Type localVarReturnType = new TypeToken<NewidResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Retrieve the information by given NewID
     * @param newid  (required)
     * @param dappKey The decentralized application access key (required)
     * @param protocol The protocol name. default is &#x27;HEP&#x27;. (required)
     * @param version The protocol version such as &#x27;1.0&#x27; (required)
     * @param ts The current timestamp (required)
     * @param nonce The random string or auto-increment sequence (required)
     * @param os The operating system of client such as ios, android, dweb,etc. (required)
     * @param language The i18n language code such as zh, en, etc. (required)
     * @param md5 The HMAC authentication md5 checksum (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call newidsReadAsync(String newid, String dappKey, String protocol, String version, Integer ts, String nonce, String os, String language, String md5, final ApiCallback<NewidResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = newidsReadValidateBeforeCall(newid, dappKey, protocol, version, ts, nonce, os, language, md5, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NewidResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
